<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerPushToClient" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://itripping.cn:9100/ServicePushToClient.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerPushToClient"
                contract="ServiceOfPushToClient.IServerPushToClient" name="BasicHttpBinding_IServerPushToClient" />
        </client>
    </system.serviceModel>
</configuration>