<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TripperCenterDBContext" connectionString="mongodb://iTrippingDB:28000/TripperCenter"/>
    <add name="DeliveryCenterDBContext" connectionString="mongodb://iTrippingDB:28000/DeliveryCenter"/>
    <add name="StatusCenterDBContext" connectionString="mongodb://iTrippingDB:28000/StatusCenter"/>
    <add name="RelationCenterDBContext" connectionString="mongodb://iTrippingDB:28000/RelationCenter"/>
  </connectionStrings>
  <appSettings >
    <add key="WcfHostAddress" value="itripping.cn:9999"/>
  </appSettings>
</configuration>