<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="/Home/Index" class="brand">iTrip</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/Home/Index">Welcome to iTrip</a></li>
                    <li><a href="/Pusher/Index">Pusher List</a></li>
                    <li><a href="/Pusher/Demo">Pusher Demo</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


